.dhx-container {
  font-family: Roboto;
  background-color: rgba(0, 0, 0, 0.07);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.dhx-container a {
  cursor: pointer;
  text-decoration: none;
  display: block;
  color: #0288d1;
  margin-bottom: 36px;
}
.dhx-container h3 {
  color: rgba(0, 0, 0, 0.7);
}
