/* content.component.css */
.container {
  border: var(--dhx-border);
}

app-left-content,
app-right-content {
  display: flex;
  height: 100%;
  max-width: 800px;
  flex-grow: 1;
  gap: 12px;
  flex-direction: column;
}
