.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.widget-box-wide{
    width: 100%;
    height: 500px;
}

.buttons-container {
    margin: 20px;
}
