.events-list {
  font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;

  &-wrapper {
    width: 350px;
    margin-left: 20px;
    border: 1px solid #DFDFDF;
    background: #FFF;
    padding: 10px;
    height: 400px;
    line-height: 1.3;
    overflow-y: auto;
  }

  &--element {
    margin-bottom: 8px;
    margin-top: 0;
    padding: 8px;
    -webkit-animation: fadeIn .8s;
    animation: fadeIn .8s;
    border: 1px solid #DFDFDF;
    border-radius: 2px;
    background: #F2F2F2;
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}

.component-wrapper {
  display: flex;
  flex-direction: row;
}

.custom-button {
  border: none;
  outline: none;
  padding: 6px 28px;
  font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background: #0288d1;
  color: #fff;
  border-radius: 32px;
  text-decoration: none;
}

.custom-button:not(:last-child) {
  margin-right: 20px;
}

.dhx-container {
  justify-content: center;
  &--button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
