<div class='app-screen'>
  <div class='app-header'>
    <h1>Using DHTMLX widgets in an Angular app</h1>
  </div>
  <div class='app-page'>
    <div class='app-sidebar'>
      <h3>Vault</h3>
      <nav>
        <a routerLink="/basic" routerLinkActive="active">Basic usage</a>
        <a routerLink="/data" routerLinkActive="active">Data / Events</a>
        <a routerLink="/config" routerLinkActive="active">Pre-configured widget</a>
        <a routerLink="/cdn" routerLinkActive="active">Load from CDN</a>
      </nav>
      <h3>Spreadsheet</h3>
      <nav>
        <a routerLink="/spreadsheet/basic" routerLinkActive="active">Basic usage</a>
        <a routerLink="/spreadsheet/data" routerLinkActive="active">Data / Events</a>
        <a routerLink="/spreadsheet/config" routerLinkActive="active">Pre-configured widget</a>
        <a routerLink="/spreadsheet/cdn" routerLinkActive="active">Load from CDN</a>
      </nav>
      <h3>Richtext</h3>
      <nav>
        <a routerLink="/richtext/basic" routerLinkActive="active">Basic usage</a>
        <a routerLink="/richtext/data" routerLinkActive="active">Data / Events</a>
        <a routerLink="/richtext/config" routerLinkActive="active">Pre-configured widget</a>
        <a routerLink="/richtext/cdn" routerLinkActive="active">Load from CDN</a>
      </nav>
    </div>
    <div class='app-content'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>