.events-list-wrapper {
  width: 350px;
  margin-left: 20px;
  border: 1px solid #DFDFDF;
  padding: 10px;
  height: 500px;
  font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  overflow-y: auto;
}

.events-list--element {
  font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
  margin-bottom: 8px;
  margin-top: 0;
  padding: 8px;
  -webkit-animation: fadeIn .8s;
  animation: fadeIn .8s;
  border: 1px solid #FFF;
  border-radius: 2px;
  background: #F2F2F2;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.component-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

.widget-box-wide {
  align-self: flex-start;
}

.custom-button {
  flex: 0 0 auto;
  border: none;
  outline: none;
  padding: 6px 28px;
  font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  background: #0288d1;
  color: #fff;
  border-radius: 32px;
  text-decoration: none;
}

.widget-box {
  width: 600px;
  height: 450px;
}

.btn-container {
  margin: 20px 0 20px 0;
}
