.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.widget-box-wide{
    width: 500px;
    height: 500px;
}

.btn-container {
    text-align: center;
    margin: 20px;
}
