.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn-container {
    margin-top: 20px;
    text-align: center;
}

.container-wide {
    margin: 50px auto;
    width: 900px;
}
