.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.buttons-container {
    margin: 50px 0 0 50px;
}

.container-wide {
    margin: 50px;
    width: 900px;
}
