.template {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  &__container {
    max-height: 125px;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100px;
    height: auto;
    float: left;
    margin-right: 12px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding-bottom: 4px;
    padding-top: 12px;
    min-height: 40px;
  }

  &__description {
    margin: 0;
  }
}
